/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */
@import url(./_variables.css);

html {
    scroll-behavior: smooth;
}

body {
    background-color: #252627;
    min-height:800px;
}

/* start navigation */

.header_area {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: var(--navbar-color);
}

nav {
    /* background-color: var(--navbar-color); *//* var(--navbar-color) */
    color: var(--text-color) !important;
    transition: all 0.8s ease-out;
}

.nav-changed {
    background-color: var(--navbar-color-changed); 
}

.my-header-navbar-brand {
    font-family: var(--montserrat);
    text-transform: uppercase;
    color: var(--text-color-logo) !important;
    font-size: 24px;
    letter-spacing: 5px;
    transition: all 0.4s ease-out;
}

.logo-color-changed {
    color: var(--text-color) !important;
}

.header_area .container {
    padding:0 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.my-header-navbar {
    padding-left: 0;
    padding-right: 0;
}

a.nav-link {
    font-family: var(--montserrat);
    text-transform: uppercase;
    padding: 1.5rem !important;
    color: var(--text-color) !important;
}

a.nav-link:hover {
    color: var(--text-color-active) !important;
}

ul.navbar-nav li a.active {
    color: var(--text-color-active) !important;
    text-shadow:
   -3px -3px 10px #000000,  
    3px -3px 10px #000000,
    -3px 3px 10px #000000,
    3px 3px 10px #000000;
}

.my-navbar-toggler {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(242,242,242, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border-color: transparent !important;
}

/* end navigation */
/* start home area */

.site-main{
    background-image: url(../img/img4.jpg);
    background-position: center;
    background-size: cover;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    height: 100vh;
    width: 100%;
}

.site-main-change{
    background-image: url(../img/img2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.site-banner {
    position: absolute;
    width: 100%;
    margin-top: 38vh;
    text-align: center;
}

.site-banner h3 {
    font-family: var(--poppins);
    color: var(--text-color-home) !important;
    font-weight: 600 !important;
    text-shadow:
    -3px -3px 10px #000000,  
    3px -3px 10px #000000,
    -3px 3px 10px #000000,
    3px 3px 10px #000000;
}

.my-p {
    font-family: var(--poppins);
    color: var(--text-color-home) !important;
}

.text h1 {
    color: var(--text-color-home) !important;
    font-size: 3rem;
    cursor: context-menu;
    text-shadow:
   -3px -3px 10px #000000,  
    3px -3px 10px #000000,
    -3px 3px 10px #000000,
    3px 3px 10px #000000;
}

.text span {
    display: inline-block;
    transition: all 0.4s ease-out;
}

span.m-left:hover {
    color: #8aba65 !important;
    transition: all .5s;
    font-size: 4rem !important;
}

span.m-left {
    margin-left: -9px;
}

.diferent {
    color: #8aba65 !important;
    font-size: 4rem !important;
}

/* end home area */
/* start about area */

.my-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.my-container .row {
    width: 100% !important;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.my-image {
    height: auto;
    max-width: 100%;
}

.my-container h1 {
    font-family: var(--montserrat);
    color: var(--text-color-home) !important;  /* #8aba65 */
    font-size: 4rem;
    opacity: .2;
    padding-bottom: 20px;
    margin-bottom: 0;
    text-shadow:
   -3px -3px 10px #000000,  
    3px -3px 10px #000000,
    -3px 3px 10px #000000,
    3px 3px 10px #000000;
}

.my-about-container  h4 {
    font-family: var(--poppins);
    color: var(--text-color-home) !important;
    font-size: 18px;
    margin-bottom: 0;
    padding: 5px 5px 5px 10px;

}

.my-about-container p {
    font-family: var(--poppins);
    color: var(--text-color-home) !important;
    font-size: 18px;
    text-align: justify;
    margin-top: 30px;

}

.my-about-container {
    padding-left: 5vw;
}

.my-about-container span {
    font-family: var(--poppins);
    font-size: 20px;
    opacity: .5;
    padding-right: 10px;
    width: 200px !important;
    text-shadow:
   -1px -1px 10px #000000,  
    1px -1px 10px #000000,
    -1px 1px 10px #000000,
    1px 1px 10px #000000;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-about-row-show {
    display: none;
}

.my-about-p-show {
    display: block;
}

/* end about area */
/* start skills area */

.my-skills-container {
    background-color: var(--background-skills-color);
}

.my-skills-container h1 {
    padding-bottom: 40px;
}

.my-skills-container .row {
    text-align: center;
}

.my-skills {
    padding: 15px;
}

.my-skills-container img {
    height: 70px;
    width: auto;
    padding-bottom: 10px;
}

.my-skills-container h4 {
    font-family: var(--poppins);
    color: var(--text-color-home) !important;
    font-size: 18px;
    font-weight: 600;
}

.asp-mvc-web {
    font-size: 18px !important;
}

.icon-area {
    border: 1px solid #3e4141;
    padding: 10px;
    transition: all 300ms ease-in-out;
}

.icon-area:hover {
    border-color: transparent;
    box-shadow: 0 20px 40px rgba(0,0,0,1);
}

/* end skills area */
/* start portfolio area */

.my-portfolio-container {
    background-color: var(--background-portfolio-color);
}

.my-portfolio-container h1 {
    padding-bottom: 50px;
}

.my-portfolio-container .row {
    text-align: center;
}

ul.portfolio-nav-list {
    padding: 0 0 50px 0;
    list-style: none;
    text-align: center;
}

ul, li {
    margin: 0;
}

ul.portfolio-nav-list li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 15px !important;
    border: 2px solid var(--text-color);
}

ul.portfolio-nav-list li a {
    display: block;
    cursor: pointer;
    color: var(--text-color) !important;
    font-size: 14px;
    padding: 8px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

ul.portfolio-nav-list li a.active {
    color: var(--background-portfolio-color) !important;
    border-color: transparent;
    background: var(--text-color);
}

a {
    transition: all 0.4s;
    text-decoration: none;
}

.my-project-col {
    padding: 15px;
}

.my-project img {
    width: 100%;
    height: 214px;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: rgb(26, 26, 26, 0.9);
    opacity: 1;
    /* -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease; */
    transition: all .5s ease;
    cursor: crosshair;
}

.overlay .overlay-inner {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

.overlay .overlay-inner img {
    /* transform: translateY(-30px); */
    transition: all .5s;
    margin-bottom: 10px; /* 50px */
    width: 80%;
    max-width: 80%;
    height: auto;
}

.overlay .overlay-inner h4 {
    /* transform: translateY(30px); */
    color: var(--text-color-home); 
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 600;
    transition: all .5s;
    margin-top: 10px; /* 40px */
}

.overlay:hover {
    opacity: 0;
}

.overlay:hover h4 {
    transform: translateY(30px);
}

.overlay:hover img {
    transform: translateY(-30px);
}

.webapishow {
    display: block;
}

.webapihide {
    display: none;
}

.desktopappshow {
    display: block;
}

.desktopapphide {
    display: none;
}

.gameshow {
    display: block;
}

.gamehide {
    display: none;
}


/* end portfolio area */
/* start contact area */

.my-contact-container {
    background-color: var(--background-contact-color);
}

.my-contact-container .my-container {
    padding: 100px 15px;
}

.my-contact-container h1 {
    padding-bottom: 60px;
}

.my-contact-container .row {
    text-align: center;
}

.my-contact i {
    font-size: 30px;
    color: #8aba65;
    transition: all 2s;
}

.socials-media i {
    font-size: 16px;
    color: #8aba65;
    transition: all 2s;
    padding-right: 10px;
}

.my-contact h4 {
    font-family: var(--poppins);
    color: var(--text-color-home);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
}

.my-contact p {
    color: var(--text-color-home);
    margin-bottom: 10px;
    word-wrap: break-word;
}

.my-contact {
    padding: 10px;
    transition: all 300ms ease-in-out;
}

.my-contact:hover .fa-globe-americas{
    transform: rotate(1080deg);
}

.fa-envelope{
    transform: matrix3d(1);
    transition: transform 0.5s ease;  

    /* transform: translate3d(1px, 1px, 1);
    transition: transform 0.5s ease; */

    /* transform: translateZ(1px);
    transition: transform 0.5s ease; */
}
  
.my-contact:hover .fa-envelope{
    transform: matrix3d(0.8535533905932737, 0.4999999999999999, 0.14644660940672619, 0, -0.4999999999999999, 0.7071067811865476, 0.4999999999999999, 0, 0.14644660940672619, -0.4999999999999999, 0.8535533905932737, 0, 22.62994231491119, -20.3223304703363, 101.3700576850888, 1);
    
    /* transform: translate3d(1px, 1px, 50px) rotate3d(3, 2, 2, 90deg); */

    /* transform: rotate3d(3, 2, 2, 90deg) translateZ(50px); */
}

.my-contact:hover .fa-phone{
    transform: rotate(180deg);
}

.my-contact:hover .fa-home {
    transform: scale(1.5);
}

/* end contact area */


@media screen and (max-width:1199px) {
    .my-skills-container img {
        height: 60px;
        width: auto;
    }

    .asp-mvc-web {
        font-size: 15px !important;
    }

    .my-project img {
        width: 100%;
        height: 175px;
    }
}

@media screen and (max-width:991px) {

    .my-about-row-show {
        display: block;
    }
    
    .my-about-p-show {
        display: none;
    }

    .my-container {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .my-about-container h1 {
        font-size: 3rem;
        padding-bottom: 20px;
    }
    
    .my-about-container  h4 {
        font-size: 18px;
        padding: 5px 5px 5px 10px;
    }
    
    .my-about-container p {
        font-size: 18px;
        text-align: justify;
        margin-top: 30px;
    }
    
    .my-about-container {
        padding: 0;
    }
    
    .my-about-container span {
        font-size: 20px;
        opacity: .5;
        padding-right: 10px;
        width: 200px !important;
    }

    .overlay .overlay-inner img {
        margin-bottom: 0px;
    }
    
}

@media screen and (max-width:767px) {
    .my-about-container {
        text-align: center;
    }

    .my-project img {
        width: 100%;
        height: 250px;
    }
}

@media screen and (max-width:640px) {

    .site-banner h3 {
        font-size: 1.4rem;
    }
    
    .text h1 {
        font-size: 2.5rem;
    }
    
    span.m-left:hover {
        font-size: 3.5rem !important;
    }
    
    span.m-left {
        margin-left: -6px;
    }
    
    .diferent {
        font-size: 3.5rem !important;
    }
    
}

@media screen and (max-width:575px) {
    .overlay .overlay-inner img {
        margin-bottom: 0px;
    }

    .overlay .overlay-inner h4 {
        font-size: 20px;
        margin-top: 0px;
    }

    .my-project img {
        width: 100%;
        height: 45vw;
    }
    
}

@media screen and (max-width:430px) {
    .my-header-navbar-brand {
        font-size: 20px;
        letter-spacing: 2px;
    }

    .site-banner h3 {
        font-size: 1rem;
    }
    
    .text h1 {
        font-size: 1.7rem;
    }
    
    span.m-left:hover {
        font-size: 2.7rem !important;
    }
    
    span.m-left {
        margin-left: -3px;
    }
    
    .diferent {
        font-size: 2.7rem !important;
    }

    .overlay .overlay-inner img {
        margin-bottom: 0px;
    }

    .overlay .overlay-inner h4 {
        margin-top: 0px;
    }
}

@media screen and (max-width:320px) {
    .site-main {
        width: 330px;
    }

    .container {
        width: 315px;
        margin-right: auto; /* 0px !important */
        margin-left: auto; /* 0px !important */
    }

    .my-about-container {
        width: 285px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .my-header-navbar {
        width: 315px;
    }

    .my-project img {
        width: 100%;
        height: 144px;
    }
    
}
